body{
  overflow:auto;
}.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /*background-color: #3b3838; /* Dark forest green background color */
    /*background-image: url(./content/pexels-alex-conchillos-3648850.jpg);
    background: linear-gradient(to bottom, #505050, #000000);*/
    margin: 0;
    padding: 0;
    
  }
  .bgvi{
    width:100%;
    height: 100vh;
    position:absolute;
    object-fit: cover;
  }
  
  .card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /*box-shadow: 2px 2px 6px #bebebe, -2px -2px 6px #ffffff;*/
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background:blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid rgba(8, 152, 34, 0.15)55, 255, 255);
    color: #fdfffd;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;

    
  }
  
  .blob {
    position: absolute;
    
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #33a80868;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  